<?xml version="1.0" encoding="UTF-8" ?>
<widget
    id="dk.okdios.loevspring"
    version="0.0.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Løvspring børnehave</name>

    <description>
        App til Løvspring Børnehave.
    </description>

    <author email="okdios@gmail.com" href="https://github.com/okdios/loevspring">
        Alex Pedersen, Mark Blaabjerg and Oscar Diös
    </author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="Fullscreen" value="false" />
    <preference name="WebViewBounce" value="true" />
    <preference name="orientation" value="landscape" />

    <feature name="Camera" value="Camera" />

</widget>
