#imageFullscreen {
	-webkit-transform: translate3d(0,0,0);
	overflow: hidden;
}

.image{
	position: relative;
	width: 100%;
}

#fullscreenText{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
}

#fullscreenText span{
	color: white;	
	font: 20px/29px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 3px;
}

.success
{
    color: green;
}
.error
{
    color: red;
}
.textWithBackground{
	color: white;
	border:2px solid #a1a1a1;
	padding:10px 40px;
	background:#dddddd;
	width:300px;
	border-radius:25px;
	margin-left: auto;
	margin-right: auto;
}
.images{
	width: 47%;
	margin-left: 5px;
}
.fotoDescription{
	height: 500px;
}